PORT=4000
FRONTEND_ORIGIN=http://localhost:3000
ERP_LOGIN_URL=https://newerp.kluniversity.in/index.php
ERP_ATTENDANCE_URL=https://newerp.kluniversity.in/index.php?r=studentattendance%2Fstudentdailyattendance%2Fsearchgetinput
ERP_ID_SELECTOR=#loginFormUserNameID
ERP_PASSWORD_SELECTOR=#loginFormPasswordID
ERP_CAPTCHA_SELECTOR=#loginFormCaptcha
ERP_CAPTCHA_IMAGE_SELECTOR=#loginFormCaptcha-image
ERP_SUBMIT_SELECTOR=button[name='login-button'], button[type='submit']
ERP_ACADEMIC_YEAR_SELECTOR=select[name*='academicyear'], select[id*='academicyear'], select[name*='Academic'], select[id*='Academic']
ERP_SEMESTER_SELECTOR=select[name*='semesterid'], select[id*='semesterid'], select[name*='Semester'], select[id*='Semester']
ERP_ATTENDANCE_SEARCH_SELECTOR=button[type='submit'], input[type='submit']
ERP_ATTENDANCE_TABLE_SELECTOR=table
ERP_TIMEOUT_MS=30000
ERP_LOGIN_WAIT_MS=12000
ERP_LOGIN_SUCCESS_SELECTOR=
ERP_CAPTCHA_SESSION_TTL_MS=600000
ERP_MAX_CAPTCHA_SESSIONS=5
ERP_SCRAPER_MODE=puppeteer
